<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Cancer Mutation Predictor</a>
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Sign Up</h1>
            <div class="row center">
                <h5 class="header col s12 light">Create an account to access the Cancer Mutation Prediction Tool</h5>
            </div>

            <div class="row">
                <form action="/signup" method="post" class="col s12 m6 offset-m3">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" name="name" type="text" class="validate" required>
                            <label for="name">Full Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirm_password" name="confirm_password" type="password" class="validate" required>
                            <label for="confirm_password">Confirm Password</label>
                        </div>
                    </div>
                    {% if error %}
                    <div class="row">
                        <div class="col s12">
                            <p class="red-text center">{{ error }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row center">
                        <button type="submit" class="btn-large waves-effect waves-light orange">Sign Up</button>
                    </div>
                    <div class="row center">
                        <p>Already have an account? <a href="/login" class="orange-text">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                Developed with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>